body, html {
  background-color: #fff;
  font-family: GothamPro;
}

body, button, input, select, textarea {
  font-family: GothamPro;
}

.hero-logo {
  background-color: #1A1B28;
  background-image: url('bg.jpg');
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-logo img {
  max-width: 360px;
}

.hero-footer {
  min-height: 160px;
}

p {
  font-weight: 200;
}

.c2a-button-hero {
  position: absolute;
  right: 0;
  top: 40px;
  padding: 12px 28px 10px 18px;
  background: #fff;
  color: #1A1B28;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 14px;
  line-height: 12px;
}

.title {
  font-weight: 200;
}

.title.is-bold {
  font-weight: 800;
}

.divider {
  height: 38px;
  width: 4px;
  background-color: #1A1B28;
  display: inline-block;
}

.divider-white {
  background-color: #fff;
}

.section {
    padding: 6rem 1.5rem;
}

.column {
  padding: 2rem .75rem;
}

.rotate-90 {
  display: inline-block;
  font-weight: 100;
  transform: rotate(-90deg);
  text-transform: uppercase;
}

.is-songify {
  background: #1A1B28;
  color: #fff;
}

.is-songify:hover {
  color: #fff;
}

.bg-light {
  background: #eee;
}

.footer {
  background: #1A1B28;
  padding: 1rem 6rem 0rem;
}

.footer a {
  color: #fff;
  opacity: .5;
  text-transform: uppercase;
  font-size: 12px;
}

.bg-dark {
  background: #1A1B28;
}

.blink {
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}
